@import "@evilmartians/harmony/css/blue.css";
@import "@evilmartians/harmony/css/indigo.css";
@import "@evilmartians/harmony/css/violet.css";

:root {
  --mona-sans: "Mona Sans", "Mona Sans Fallback";
  /* Colors */
  --bg: var(--blue-50);
  --icon: var(--indigo-800);
  --primary: var(--violet-900);
  --secondary: var(--violet-800);
  --tertiary: var(--blue-700);
  --border: var(--indigo-200);

  &.dark {
    --bg: var(--blue-950);
    --icon: var(--indigo-200);
    --primary: var(--violet-100);
    --secondary: var(--violet-200);
    --tertiary: var(--blue-300);
    --border: var(--indigo-800);
  }

  /* Spacing */
  --spacing-0: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-32: 128px;
  --spacing-40: 160px;
  --spacing-48: 192px;
  --spacing-56: 224px;
  --spacing-64: 256px;
}
